@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
@import "tailwindcss";

* {
  font-family: "Orbitron", sans-serif;
}
html {
  scroll-behavior: smooth;
}

.marquee-container {
  overflow-x: hidden !important;
}

.marquee-container::-webkit-scrollbar {
  display: none;
}

.marquee-container {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}
